#login{
    margin: 10%;
    width: 50%;
    color: white; 
    /* bg-secondary bg-dark */
}
#login img{
    margin: 1%;
    width: 9%;
}
#login button{
    margin: 1%;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}